/.travis/
/build/
/examples/
/generate/
/guides/
/test/
/vendor/Release/

!/include
!/src

.astylerc
.editorconfig
.gitignore
.gitmodules
.jshintrc
.travis.yml
appveyor.yml

!binding.gyp

*.filters
*.log
*.md
!RELEASING.md
*.sln
*.vcxproj
.nyc_output/

/.github/
/vendor/libgit2/build*/
/vendor/libgit2/tests/
*.tgz
